#site{background-color: #463f32;}

footer{
    background-color: #463f32;
    
}

footer a, #conditions{
    color: #C2B7AD !important;
}

main, h2{
    color: rgba(247, 239, 229) !important;
}

h2{
    letter-spacing: 3px !important;
}

p {
    font-size: 130%;
}

ul{
    width: auto !important;
    margin: auto;
    padding-top: 0.5em;

}

#invite a{
    color: rgba(247, 239, 229);
    text-decoration: underline;
}

.submenu{
    display: block;
    justify-content: center;
    height: 200px;
    margin-top: 3em;
    margin-bottom: 1em;
    }

.rub{
        width: 200px;
        height: 200px;
        border-radius: 50% 50%;
        margin: auto;
        
    
        
}
    
.blanc{
    width: 200px;
    height: 200px;
    background-color: white;
    position: relative;
}

.fond{
    position: relative;
    opacity: 0.3;
    background-size: cover;
    background-position: center;    
    margin-top: -200px;
}

.cat{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -200px;
    font-size: 200%;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

@media screen and (min-width: 350px) {
	.submenu {
        height: 300px;
	}
    .rub, blanc {
        height: 300px;
        width: 300px;
	}
    .fond, .cat{
        margin-top: -300px;
    }
}

@media screen and (min-width: 575px) {
	.submenu {
        height: 250px;
	}
    .rub, blanc {
        height: 250px;
        width: 250px;
	}
    .fond, .cat{
        margin-top: -250px;
    }

}

@media screen and (min-width: 645px) {
	.submenu {
        height: 300px;
	}
    .rub, blanc {
        height: 300px;
        width: 300px;
	}
    .fond, .cat{
        margin-top: -300px;
    }
}


   
svg{
	background: radial-gradient(ellipse 2% 80% at 100% -25%, #C2B7AD 100%, #463f32 100%);
	}  
    
    .marquee-wrapper {
        max-width: 98vw;
        overflow: hidden;
        padding: 1rem 0;
        font-size: 1.5rem;
        margin-top: 1em;
        box-sizing: border-box;
        position: relative;
      }
  
      .marquee {
        display: flex;
        width: max-content;
        animation: scroll-left 40s linear infinite;
        box-sizing: border-box;
      }
  
      @keyframes scroll-left {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-50%);
        }
      }
  
      .marquee span {
        padding: 0 2rem;
        white-space: nowrap;
        color: white;
      }


    
#ouverture{
    background-image: url('/static/danse-mariage.jpg');

}

#solo{
    background-image: url('/static/cours.jpg');
}

#couple{
    background-image: url('/static/team-building.jpg');
}

#conditions{
    padding-right: 1em !important;
}