
#header {
text-align: center;
position: relative;
z-index: 10;
max-width: 100%;
}

#titre{
font-size: 300%;
letter-spacing: 24pt;
}


.click{
	cursor: pointer;
	font-size: 120%;
	text-align: center;
	color: blue;
	text-decoration: none;
}

.click:hover{
	font-weight: bold;
}

#vague{
	position: relative;
	margin-top: -6em;
	z-index: 0;
	width: 100%;
	background: radial-gradient(ellipse 2% 80% at 100% -30%, #C2B7AD 100%, #463f32 100%);
}



#accueil{
background-color: #463f32;
padding: 0 0 0 0;
position: relative;
}

#menu{
text-align: center;
padding-bottom: 1em;
}

.submenu{
display: block;
justify-content: center;
height: 300px;
}


.rub{
	width: 300px;
	height: 300px;
	border-radius: 50% 50%;
	margin: auto;

	
}

.blanc{
	width: 300px;
	height: 300px;
	background-color: white;
	position: relative;
}

.fond{
	position: relative;
	opacity: 0.3;
	background-size: 110% 110%;
	background-position: center;
margin-top: -300px;
}

.cat{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
margin-top: -300px;
}



#ouverture{
	background-image: url('https://live.staticflickr.com/3316/3188029005_e3419054c6_m.jpg');

}

#solo{
	background-image: url('https://live.staticflickr.com/3316/3188029005_e3419054c6_m.jpg');
}

#couple{
	background-image: url('https://live.staticflickr.com/3316/3188029005_e3419054c6_m.jpg');
}

#pied{
background-color:#463f32;
color: #C2B7AD;
text-align: right;
margin-right: 1em;
}
