*{  box-sizing: border-box;
	background-color: none !important;
	margin: 0 0 0 0 ;
	padding: 0 0 0 0 ;
}

.pompons{

	background-image: url('/static/pompons.png');
	background-repeat: repeat;
	background-size: 100%;
}

html {
	max-width: 100%;
	margin: 0 0 0 0 ;
	padding: 0 0 0 0 ;
	scroll-padding-top: 9.2em; /* Ajuste en fonction de la hauteur de ta barre sticky */
    overflow-x: hidden;
  }
  
.row{
	margin: 0 0 0 0 ;
	padding: 0 0 0 0 ;
	--bs-gutter-x: 0 ;
	--bs-gutter-y: 0 ; 
}

body{
	color: black;
	font-family: 'Libre Baskerville', serif;
	background: rgb(194,183,173,0.3);
	z-index: 0;	
	margin: 0 0 0 0 ;
	padding: 0 0 0 0 ;

	
}

#site{
	max-width: 1440px;
	margin: auto;
}

header{ position: relative;
	width: 100%;
	max-width:100%;
	z-index: 2;	
		
}

#titre-page{
	position: relative;
	z-index: 5;
}

nav{justify-content: center;
	position: fixed;
    z-index: 10;
	width: 100%;
	max-width: 100%;
	margin: 0 0 0 0 ;
	padding: 0 0 0 0 ;
	top: 0;
	}

#nav-inner{max-width: 1440px;

}

svg{max-width: 1440px;
	position: absolute;
	top: 10em;
	z-index: 3;
	background-color: rgba(247, 239, 229);
}


#fond-clair{
	position: absolute;
	top: 0em;
	height: 12.3em;
}

.great-vibes-regular {
	font-family: "Great Vibes", cursive;
	font-weight: 400;
	font-style: normal;
	
  }

  .libre-baskerville-regular {
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .libre-baskerville-bold {
	font-family: "Libre Baskerville", serif;
	font-weight: 700;
	font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
	font-style: italic;
  }
  
#bandeau-titre{
	position: absolute;	
	z-index: 5;
	top: 5.5em;
	display: flexbox;
	font-size: 150%;
	letter-spacing: 6pt;
}

#titre-site{
	font-family: Great Vibes;
	text-align: center;
	font-weight: bold;
	color: #463f32 !important;
	
}


main {
	margin-top: 13.5em !important;
	width: 100%;
	background-color: rgba(247, 239, 229);
	z-index: 1;
}

.mini{
		font-size: 50%;
	}
.normal{font-size: 90%;
}

.just{
  text-align: justify;
}

h4{font-size: 100%;}
h3{font-size: 105%;}
h2{font-size: 120%;}
h1{font-size: 140%;}

.cat{
	color: #463f32;
}

@media screen and (min-width: 450px) {
	main {margin-top: 19em !important;}
	#bandeau-titre {
		top: 5.5em;
	}
  }


@media screen and (min-width: 491px) {
	html {
		scroll-padding-top:9.2em; 
		
	  }
	#fond-clair{
		height: 11em;
	}
	#bandeau-titre {
		top: 5.6em;
		font-size: 150%;
		letter-spacing: 12pt;
	}
	svg{top:11em;}
	main {margin-top: 17em !important;}
	h1{
	font-size: 170%;
}
  }

@media screen and (min-width: 576px) {
	html {
		scroll-padding-top:3.5em; 
	  }
	#bandeau-titre {
		top: 1.8em;
		font-size: 200%;
	}
	#fond-clair{
		height: 5em;
	}
	svg{top:5em;}
	main {margin-top: 12.4em !important;}
	.mini{font-size: 50%;}
	.normal{font-size: 100%;}
	h4{font-size: 110%;}
	h3{font-size: 115%;}
    h2{font-size: 125%;}
	h5{font-size: 90%;}
  }

  @media screen and (min-width: 711px) {
	html {
		scroll-padding-top:3.5em; 
	  }
	#bandeau-titre {
		top: 2em;
	}
	#fond-clair{
		height: 5em;
	}
	svg{top:5em;}
	main {margin-top: 12.9em !important;}
	.mini{font-size: 60%;}
	.normal{font-size: 100%;}
	h5{font-size: 90%;}
  }


  @media screen and (min-width: 768px) {
	html {
		scroll-padding-top:1.8em; 
	  }
	#fond-clair{
		height: 4em;
	}
	#bandeau-titre {
		top: 1.5em;
	}
	svg{top:4em;}
	main {margin-top: 13.5em !important;}
	.mini{font-size: 60%;}
	.normal{font-size: 100%;}
	h5{font-size: 85%;}
  }


  @media screen and (min-width: 880px) {
	#bandeau-titre {
		top: 1.2em;
		font-size: 260%;
		letter-spacing: 18pt;
	}
	main {margin-top: 14.9em !important;}
	.mini{font-size: 70%;}
	.normal{font-size: 100%;}
	h5{font-size: 90%;}
  }


  @media screen and (min-width: 992px) {
	#bandeau-titre {
		top: 1em;
		font-size: 280%;
		letter-spacing: 18pt;
	}
	main {margin-top: 16.2em !important;}
	.mini{font-size: 60%;}
	h5{font-size: 80%;}
  }

  @media screen and (min-width: 1099px) {
	main {margin-top: 17.6em !important;}
	.mini{font-size: 65%;}
	h5{font-size: 90%;}
  }

  @media screen and (min-width: 1200px) {
	#bandeau-titre {
		font-size: 300%;
		letter-spacing: 20pt;
	}
	main {margin-top: 18.8em !important;}
	.mini{font-size: 70%;}
	h5{font-size: 100%;}
  }

  @media screen and (min-width: 1300px) {

	main {margin-top: 20.5em !important;}
	.mini{font-size: 80%;}
	h5{font-size: 105%;}
  }

h2{
	margin-top: 1em !important;
	margin-bottom: 0.5em;
}

footer{
	align-self: end;
	text-align: right;
	padding-right: 1em !important;
	padding-bottom: 0.5em;
	background-color: #C2B7AD;
	padding-top: 0.3em;
	height: 2em;
	}

footer a{
	margin-right: 2em;
	color: #463f32;
	font-size: 70%;
}

footer a:hover{
	color: #463f32;
	font-weight: bold;
}

.clair {
background-color: #C2B7AD;
}

.sombre {
	background-color: #463f32;
	}

a {text-decoration: none;
}

a:hover{
	
	font-weight: bold;
}

a:focus {
	outline: 0.1px dotted (247, 239, 229); 
	outline-offset: 0.01px;
  }

h1, h3 {
	text-align: center;
}

h2 {
	font-weight: bold;
	color: #463f32;
	border-bottom: 2px solid #C2B7AD;
	padding-bottom: 4px;
	margin-top: 1.5em;
  }
  
  h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #463f32;
  margin-top: 1em;
  }

  h4 {
  font-weight: normal;
  color: #6e6253;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-left: 4px solid #C2B7AD;
  padding-left: 0.5em !important;
}

.bouton-site {
	background-color: #C2B7AD;
	color: white;
	border-radius: 8px;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
	border: none;
  }
  
.bouton-site:hover {
	background-color: #463f32;
	color: #C2B7AD;
	font-weight: bold;
  }

  .text-container{
    width: 80%;
    margin-top: 1.5em !important;
	
}

.text-container p{
	text-align: justify;
}

.dropdown-container{
    display: none;
    position: absolute;
}

.plan {
	position: relative;
	left: 1em;
}

#sommaire .dropdown:hover .dropdown-container {
    display: inline-block;
  }

#sommaire ul {
	list-style-type: none;
	position: relative;
	left: 6em;
}

#sommaire ul li{
	margin-left: 1em;
}

.logo img{
	width: 90%;
}

#logo img{

	max-width: 10em;
	min-width: 5em;
	width: 10%;
}

.mini{
	font-size: 60%;
}







