  
html {
	scroll-padding-top: 9.2em; /* Ajuste en fonction de la hauteur de ta barre sticky */
  }
  
.row{
	margin: 0 0 0 0 ;
	padding: 0 0 0 0 ;
	--bs-gutter-x: 0 ;
	--bs-gutter-y: 0 ; 
}

body{
	position: absolute;
	color: black;
	font-family: 'Libre Baskerville', serif;
	background: rgb(194,183,173,0.3);
	z-index: 0;
}

#site{min-height:100vh;
		max-width: 1440px;}

header{ position: relative;
		max-width:100%;
		
}

nav{justify-content: center;
	position: fixed;
    z-index: 10;
	}

#nav-inner{max-width: 1440px;

}

svg{max-width: 1440px;
	position: absolute;
	top: 10em;
	z-index: 3;
	background-color: white;
}


#fond-clair{
	position: absolute;
	top: 0em;
}

.great-vibes-regular {
	font-family: "Great Vibes", cursive;
	font-weight: 400;
	font-style: normal;
	
  }

  .libre-baskerville-regular {
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .libre-baskerville-bold {
	font-family: "Libre Baskerville", serif;
	font-weight: 700;
	font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
	font-style: italic;
  }
  
.logo img{

	max-width: 90%;

}  


#bandeau-titre{
	position: absolute;	
	z-index: 5;
	top: 5em;
	font-size: 200%;
	letter-spacing: 12pt;
	display: flexbox;
}

#titre-site{
	font-family: Great Vibes;
	text-align: center;
	font-weight: bold;
	color: #463f32 !important;
	
}


main {
	margin-top: 18em !important;
	width: 100%;
	background-color: white;
}

small{
		font-size: 90%;
	}

h5{font-size: 110%;}

@media screen and (min-width: 491px) {
	html {
		scroll-padding-top:9.2em; 
	  }
	#fond-clair{
		height: 11em;
	}
	#bandeau-titre {
		top: 5em;
		font-size: 200%;
		letter-spacing: 12pt;
	}
	svg{top:11em;}
	main {margin-top: 18em !important;}
	small{font-size: 90%;}
  }

@media screen and (min-width: 576px) {
	html {
		scroll-padding-top:3.5em; 
	  }
	#bandeau-titre {
		top: 2.3em;
	}
	#fond-clair{
		height: 5em;
	}
	svg{top:5em;}
	main {margin-top: 14.2em !important;}
	small{font-size: 70%;}
	h5{font-size: 90%;}
  }


  @media screen and (min-width: 768px) {
	html {
		scroll-padding-top:1.8em; 
	  }
	#fond-clair{
		height: 4em;
	}
	svg{top:4em;}
	main {margin-top: 14.6em !important;}
	small{font-size: 60%;}
	h5{font-size: 85%;}
  }


  @media screen and (min-width: 880px) {
	#bandeau-titre {
		top: 1.8em;
		font-size: 260%;
		letter-spacing: 18pt;
	}
	main {margin-top: 16.2em !important;}
	small{font-size: 70%;}
	h5{font-size: 90%;}
  }


  @media screen and (min-width: 992px) {
	#bandeau-titre {
		top: 1.5em;
		font-size: 280%;
		letter-spacing: 18pt;
	}
	main {margin-top: 17.5em !important;}
	small{font-size: 60%;}
	h5{font-size: 80%;}
  }

  @media screen and (min-width: 1099px) {
	main {margin-top: 18.6em !important;}
	small{font-size: 65%;}
	h5{font-size: 90%;}
  }

  @media screen and (min-width: 1200px) {
	#bandeau-titre {
		top: 1.8em;
		font-size: 300%;
		letter-spacing: 20pt;
	}
	main {margin-top: 19.8em !important;}
	small{font-size: 70%;}
	h5{font-size: 100%;}
  }

  @media screen and (min-width: 1300px) {

	main {margin-top: 21.8em !important;}
	small{font-size: 80%;}
	h5{font-size: 105%;}
  }

h2{
	margin-top: 1em !important;
	margin-bottom: 0.5em;
}

footer{
	align-self: end;
	text-align: right;
	padding-right: 1em !important;
	padding-bottom: 0.5em;
	background-color: #C2B7AD;
	padding-top: 0.3em;
	height: 2em;
	}

footer a{
	margin-right: 2em;
	color: #463f32;
	font-size: 70%;
}

footer a:hover{
	color: #463f32;
	font-weight: bold;
}

.clair {
background-color: #C2B7AD;
}

.sombre {
	background-color: #463f32;
	}

a {text-decoration: none;
}

a:hover{
	
	font-weight: bold;
}

a:focus {
	outline: 0.5px solid #C2B7AD; 
	outline-offset: 0.5px;
  }

h1, h3 {
	text-align: center;
}

h2 {
	font-size: 1.8em;
	font-weight: bold;
	color: #463f32;
	border-bottom: 2px solid #C2B7AD;
	padding-bottom: 4px;
	margin-top: 1.5em;
  }
  
  h3 {
	font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #463f32;
  margin-top: 1em;
  }


button {
	background-color: #C2B7AD;
	color: #463f32;
	border: 0.5px solid #463f32;
	border-radius: 8px;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
  }
  
button:hover {
	background-color: #463f32;
	color: #C2B7AD;
  }

  .text-container{
    width: 80%;
    margin-top: 1.5em !important;
	
}

.text-container p{
	text-align: justify;
}

.dropdown-container{
    display: none;
    position: absolute;
}

#sommaire span{
	margin-left: -2em;
}


#sommaire .dropdown:hover .dropdown-container {
    display: inline-block;
  }

#sommaire ul {
	list-style-type: none;
	margin-left: 6em;
}

#sommaire ul li{
	margin-left: 1em;
}




